@font-face {
    font-family: 'Norse Bold';
    src: url('../fonts/Norse-Bold.otf') format('opentype');
}

:root {

    --font: Georgia, 'Times New Roman', Times, serif;
}

body {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0px;
}

.blackSpace {

    width: 15vw;
    height: 100vh;
    background-color: black;
}


.image-container {

    position: relative;
    width: 25vw;
    height: 100vh;
}

.tree {

    width: 25vw;
    height: 100vh;
}

.banner-overlay {

    position: absolute;
    top: 15%;
    left: 0;
    width: 25vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-background {

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}

#banner {

    width: auto;
    height: 15vh;
    opacity: 1;
    z-index: 1;
}

#content {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45vw;
    height: 100vh;
}


.mainText {

    font-family: var(--font);
    font-size: 30px;
    font-weight: 600;
    margin-left: 2em;
    margin-right: 4em;
    margin-top: 15vh;
}

#userForm {

    display: flex;
    flex-direction: column;
    padding: 2em;
}

#inputs {

    display: flex;
    flex-direction: row;
    padding: 2em;
}

#inputs> :nth-child(1) {

    display: flex;
    flex-direction: column;
    padding: 1em;
}

#inputs> :nth-child(2) {

    display: flex;
    flex-direction: column;
    padding: 1em;
}